/*BODY > * {*/
/*    outline: 2px solid hotpink;*/
/*}*/

/*BODY > * > * {*/
/*    outline: 2px dashed yellowgreen;*/
/*    outline-offset: -2px;*/
/*}*/

/*BODY > * > * > * {*/
/*    outline: 2px dotted steelblue;*/
/*    outline-offset: -4px;*/
/*}*/

/*BODY > * > * > * > * {*/
/*    outline: 2px dotted orange;*/
/*    outline-offset: -4px;*/
/*}*/

/*BODY > * > * > * > * > * {*/
/*    outline: 2px dotted black;*/
/*    outline-offset: -4px;*/
/*}*/

.body {
    font-size: 20px;
    background-color: #2b2b2b;
    color: darkgray;
}

.header {
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #2b2b2b;
    padding: 15px;
    border-bottom: 1px solid #222222;
}

.links__github {
    place-self: center;
    grid-column: 1 / 5;
}

.links__linkedin {
    place-self: center;
    grid-column: 5 / 9;
}

.links__github_img {
    width: 80px;
    height: 80px;
}

.links__linkedin_img {
    width: 92px;
    height: 80px;
}

.header__greeting {
    color: goldenrod;
    grid-column: 9 / 13;
    font-size: 28px;
}

.main {
    margin-top: 120px;
}

.about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.side_menu {
    padding-right: 15px;
    height: 100%;
    align-self: flex-start;
    text-align: left;
    grid-column: 1 / 13;
}

.side_menu__option {
    color: honeydew;
}

.about_me {
    grid-column: 1 / 13;
}

.about_me__heading {
    color: goldenrod;
}

.info__heading {
    color: goldenrod;
}

.work_exp_place {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.work_exp__yandex {
    margin: 15px;
    width: 80px;
    height: 30px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.work_exp__date {
    grid-row: 2 / 3;
    grid-column: 1 / 13;
    padding-left: 30px;
}

.work_exp__date i {
    background-color: black;
    color: white;
}

.work_exp__group {
    margin-top: 10px;
    padding-left: 30px;
    grid-column: 1 / 13;
}

.work_exp__achievements {
    grid-column-start: 1;
    grid-column-end: 13;
}

.projects {
    display: flex;
    /*grid-gap: 20px;*/
    /*grid-template-columns: repeat(12, 1fr);*/
    /*grid-auto-columns: minmax(300px, 400px);*/
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    width: 400px;
    padding: 10px;
    text-align: center;
    text-decoration: underline honeydew;
}

.project__image {
    width: 300px;
    height: 300px;
}

.project__desc {
    color: honeydew;
}

.dummy-table {
    width: 100%;
    border:  1px solid #000000;
}

.dummy-table-head,
.dummy-table-body th {
    background-color: #222222;
    text-align: center;
    font-weight: bold;
}

.dummy-table-body tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.dummy-table-body tr:nth-child(even) {
    background-color: #d0e1f9;
}

.dummy-table-cell {
    padding: 10px;
    text-align: center;
    border: 1px solid #333333;
}

.dummy-table td,
.dummy-table th {
    border: 1px solid #ccc;
}

@media screen and (max-width: 400px) {
    .project__image {
        width: 200px;
        height: 200px;
    }

    .project {
        width: 300px;
    }
}

@media screen and (min-width: 600px) {
    .side_menu {
        border-left: solid 0.1rem honeydew;
    }

    .links__github_img {
        width: 100px;
        height: 100px;
    }

    .links__linkedin_img {
        width: 110px;
        height: 100px;
    }

    .header__greeting {
        font-size: 32px;
    }

    .body {
        font-size: 24px;
    }

    .about_me {
        grid-column: 1 / 9;
        grid-row: 1 / 2;
    }

    .side_menu {
        grid-column: 9 / 13;
        grid-row: 1 / 2;
        text-align: right;
    }

    .work_exp_place {
        grid-gap: 10px;
    }

    .work_exp_place:not(:last-child) {
        border-bottom: solid 0.1rem;
        border-image: linear-gradient(to right, honeydew 100px, transparent 50%) 100% 1;
    }

    .work_exp__yandex {
        width: 90px;
        height: 36px;
    }

    .work_exp__date {
        grid-column: 3 / 12;
        grid-row-start: 1;
        text-align: right;
    }

    .work_exp__group {
        margin-top: 10px;
        padding-left: 30px;
        grid-row: 2;
        grid-column: 1 / 13;
    }

    .work_exp__achievements {
        grid-column: 1 / 13;
        grid-row-start: 3;
    }
}

@media screen and (min-width: 1200px) {
    .header__greeting {
        font-size: 35px;
    }

    .body {
        font-size: 28px;
    }

    .work_exp__yandex {
        width: 100px;
        height: 40px;
    }
}
