.description {
    grid-column: 1 / 13;
}

.description__heading {
    color: goldenrod;
}

@media screen and (min-width: 600px) {
    .description {
        grid-column: 1 / 9;
        grid-row: 1 / 2;
    }
}


.dummy-table {
    width: 100%;
    border: 1px solid #000000;
    color: #eeeeee;
}

.dummy-table tr:nth-child(odd) {
    background-color: #444444;
}

.dummy-table tr:nth-child(even) {
    background-color: #333333;
}

.dummy-table-cell {
    padding: 10px;
    text-align: center;
    border: 1px solid #d0e1f9;
}

.dummy-table td,
.dummy-table th {
    border: 1px solid #ccc;
}